@charset "UTF-8";

/* 하이모 적용 폰트 Noto Sans or 나눔고딕->Roboto */
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;


/*-----------------------main_container-----------------------*/
#section_inner {
    overflow: hidden;
}
#section_inner>#vid {
	display: block;
	width: 100%;
	height: 100%;
}
#product {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
}
.section_title {
	text-align: center;
}
.main_Gallary_top {
    position: relative;
}
#product .main_Gallary_top>.more_btn {
	position: absolute;
	top:0;
	left: 1110px;
    width: 80px;
	height: 25px;
    text-align: center;
}
.section_title .product_infor{
	display: inline-block;
	width: 400px;
	height: 400px;
	line-height: 400px;
	text-align: center;
	margin: 10px 10px;
	background-color: gray;
}


/* product_box */

.main_Gallary {
    position: relative;
    margin: 0 auto;
	width: 1160px;
	height: 227px;
}
.gallary_warp {
    overflow: hidden;
    width: 1100px;
    height: 227px;
    margin: 0 auto;
}
.product_box {
    position: relative;
    left: 0;
    width: 4440px;
    height: 227px;
}
.product {
    float: left;
    overflow: hidden;
}
.product>li {
    float: left;
    width: 350px;
    height: 227px;
    margin-right: 20px;
}

.product_box>.product_slide {}
.product_box>.product>li>a {
    display: block;
    width: 350px;
    height: 227px;
}
.product_box>.product_slide>a>img {
    width: 100%;
}
.product .product_slide_txt {
    display: block;
    width: 350px;
    height: 60px;
    line-height: 30px;
    text-align: left;
    font-weight: 900;
}


.gallary_btn {}
.gallary_btn>span {
    display: inline-block;
    top: 80px;
    width: 30px;
    height: 50px;
}
.gallary_btn>.lft_wrap {
    position: absolute;
    left: 0;
}
.gallary_btn>.rht_wrap {
    position: absolute;
    right: 0;
}
.gallary_btn>span>a {
    display: block;
}
.gallary_btn i{
    display: block;
}


/*  #review  */
#review {
    position: relative;
    width: 1920px;
    height: 450px;
    margin: 0 auto;
}
#review>.review_bg {
    display: block;
    text-indent: -9999px;
    width: 1920px;
    height: 400px;
    margin: 0 auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/main_review_bg.png);
}
#review>.review_men {
    position: absolute;
    top: -22px;
    left: 0;
    display: inline-block;
    text-indent: -9999px;
    width: 350px;
    height: 422px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/main_review_men.png);
    transition: all 0.8s;
}

#review>.review_women {
    position: absolute;
    top: -22px;
    right: 0;
    display: inline-block;
    text-indent: -9999px;
    width: 350px;
    height: 422px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../images/main_review_women.png);
    transition: all 0.8s;
}
.review_men_txt00 {
    position: absolute;
    top: 100px;
    left: 470px;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.review_men_txt01 {
    position: absolute;
    top: 170px;
    left: 470px;
    line-height: 40px;
    font-size: 1.5rem;
    color: #fff;
}
.review_Wbar {
    display: inline-block;
    width: 281px;
    height: 3px;
    position: absolute;
    top: 160px;
    left: 470px;
    text-indent: -9999px;
    background-image: url(../images/review_white_bar.png);
}
.review_Pink_bar {
    display: inline-block;
    position: absolute;
    top: 160px;
    right: 500px;
    width: 281px;
    height: 3px;
    text-indent: -9999px;
    background-image: url(../images/review_pink_bar.png);
}
.review_men_btn {
    position: absolute;
    left: 470px;
    bottom: 150px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
}
.review_men_btn>a:hover {
    color: #000;
    background-color: rgb(255, 255, 255, 0.5);
}
.review_men_btn>a {
    display: block;
    width: 90px;
    height: 30px;
    color: #fff;
}

.review_women_txt00 {
    position: absolute;
    top: 100px;
    right: 500px;
    line-height: 40px;
    font-weight: bold;
    font-size: 3rem;
    color: #d84189;
}
.review_women_wrap>li {
    position: absolute;
    right: 500px;
}
.review_women_txt01 {
    top: 170px;
    line-height: 40px;
    font-size: 1.5rem;
    color: #b29d8d;
}
.review_women_txt02 {
    top: 210px;
    line-height: 40px;
    font-size: 1.5rem;
    color: #fb6264;
}
.review_women_btn {
    bottom: 150px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgb(251, 98, 100, 0.5);
}
.review_women_btn>a:hover {
    color: #fff;
    background-color: #fb6264;;
}
.review_women_btn>a {
    display: block;
    width: 90px;
    height: 30px;
    color: #000;
}

/* vertual system */
#virtual {
    position: relative;
    width: 1920px;
    margin: 0 auto;
}
#virtual>.virtual_bg {}
#virtual>.virtual_bg {
    display: block;
    text-indent: -9999px;
    width: 1920px;
    height: 998px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/virtual\ system_bg.jpg);
    transition: all 5s;
}
#virtual>.virtual_img {
    position: absolute;
    left: 520px;
    bottom: 50px;
    display: block;
    text-indent: -9999px;
    width: 862px;
    height: 749px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/banner-item-pcimg.png);
    transition: all 5s;
}
.virtual_txt_style {
    position: absolute;
    top: 437px;
    left: 65px;
    display: block;
    text-indent: -9999px;
    width: 407px;
    height: 128px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/banner_item_txt_style.png);
}
.virtual_txt_finder {
    position: absolute;
    top: 437px;
    right: 20px;
    display: block;
    text-indent: -9999px;
    width: 476px;
    height: 128px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/banner_item_txt_finder.png);
}
.virtual_txt {
    position: absolute;
    top: 50px;
    left: 750px;
    width: 500px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
}
.virtual_txt>div:first-child {
    font-size: 2rem;
    font-weight: bold;
    margin:20px auto;
}
.virtual_txt>div:last-child {
    font-size: 1rem;
    display: inline-block;
}
.virtual_btn {
    position: absolute;
    left: 812px;
    bottom: 70px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    border: 3px solid rgb(29, 37, 151);
}
.virtual_btn a {
    display: block;
    width: 100%;
    height: 40px;
}

/* #main_usedInfor */
#main_usedInfor {
    width: 100%;
}
.main_userInfor_container {
    width: 1920px;
    margin: 0 auto;
}
.main_userInfor_container>.userInfor_box {
    display: block;
    width: 1090px;
    height: 250px;
    margin: 0 auto;
}
.main_userInfor_container>.userInfor_box>span { 
    float: left;
    width: 250px; 
    height: 250px;
    border-radius: 150px;
    margin-right: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.main_userInfor_container>.userInfor_box>span:hover { 
    display: block;
    width: 250px; 
    height: 250px;
    border-radius: 150px;
    text-indent: 0;
    animation: motion 0.3s linear 0.3s 2 alternate; margin-top: 0;
}
@keyframes motion {
	0% {margin-top: 0;}
	100% {margin-top: -12.5px;}
}
.main_userInfor_container>.userInfor_box>span>a {
    display: block;
    width: 250px; 
    height: 250px;
    border-radius: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 250px;
    color: #fff;
}
.main_userInfor_container>.userInfor_box>span>a:hover {
    display: block;
    border-radius: 150px;
    background-color: rgb(75, 74, 74, 0.5);
}

.main_userInfor_container>.userInfor_box>.userInfor_apply {
    background-image: url(../images/apply_icon_250.png);
}
.main_userInfor_container>.userInfor_box>.userInfor_search {
    background-image: url(../images/search_icon_250.png);
}
.main_userInfor_container>.userInfor_box>.userInfor_consulting {
    background-image: url(../images/consulting_icon_250.png);
}
.main_userInfor_container>.userInfor_box>.userInfor_benefit {
    background-image: url(../images/benefit_icon_250.png);
    margin-right: 0;
}

/* #news */
#news {
    position: relative;
    width: 1280px;
    height: 750px;
    margin: 50px auto;
}
#news>.news_more_btn {
    position: absolute;
	top:0;
	left: 1100px;
    width: 80px;
	height: 25px;
    text-align: center;
}
#news>.news_more_btn>a {
    width: 80px;
	height: 25px;
}

#news>.list_main_news {
    width: 1280px;
    margin: 150px auto;
}
#news>.list_main_news>ul {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
#news>.list_main_news>ul>li {
    display: inline-block;
    width: 350px;
    height: 510px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #e9e8e8;
}
#news>.list_main_news>ul>li:last-child {
    margin-right: 0;
}
#news>.list_main_news>ul>li:nth-child(2) {
    position: relative;
    top: -55px;
    /* 두번째 뉴스란만 -55px띄움 */
}


#news>.list_main_news .news_img00  {
    display: block;
    text-indent: -9999px;
    width: 350px;
    height: 254px;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/news00.png);
}
#news>.list_main_news .news_img01  {
    display: block;
    text-indent: -9999px;
    width: 350px;
    height: 254px;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/news01.png);
}
#news>.list_main_news .news_img02  {
    display: block;
    text-indent: -9999px;
    width: 350px;
    height: 254px;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/news02.png);
}
#news .news_infor {
    width: 100%;
    height: 254px;
    padding: 20px;
}
#news>.list_main_news .news_tit  {
    display: block;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
}
#news>.list_main_news .news_txt  {
    display: block;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
#news>.list_main_news .news_date  {
    float: left;
    width: 100%;
    height: 104px;
    text-align: left;
    padding: 10px 0;
}

.list_main_news .news_atag {
    display: block;
    width: 350px;
    height: 510px;
}
