@charset "utf-8";

/*-----------------------layout-----------------------*/

#wrap {
	width: 100%;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
}
#container {
	width: 100%;
	min-height: 100px;
	z-index: 80;
}
#footer {
	width: 1920px;
	height: 220px;
	margin: 0 auto;
	background-color: #081354;
	z-index: 40;
	display: block;
	clear:both;
	content: '';
}

/*-----------------------#main_visual-----------------------*/
#main_visual {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
}
#main_visual .mainimg {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(../images/sub4_mainVisual.png);
}
.mainimg_txt {
	display: block;
	height: 400px;
	line-height: 400px;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

/*-----------------------#container-----------------------*/

#section {
	width: 1920px;
	margin: 0 auto;
}
#section>#section_inner {
	width: 100%;
}
#section_inner>.path {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
	border: 3px solid rgb(150, 150, 150);
}
#section_inner>.path>ul {}
#section_inner>.path>ul>li {
	float: left;
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
}
#section_inner>.path>ul>li>a {
	display: block;
	width: 150px;
	height: 50px;
}

/* table */
#g5_table {
	width: 1920px;
	margin: 0 auto;
}
#g5_table>.g5_table_inner {
	position: relative;
	display: block;
	width: 1280px;
	margin: 0 auto;
}

#bo_v>header {
	position: relative;
	width: 100%;
	height: auto;
}
.bo_v_tit {
	width: 1280px;
	color: #333;
	font-size: 1.5em;
}
#bo_v_share .btn {
	width: 100px;
}