@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
	text-decoration: none;
}
#wrap a:active{
	text-decoration: #000;
}
.hidden {
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}
* {
	color: #000;
	box-sizing: border-box;
}

/* -----------------------skipNav----------------------- */
#skip_nav{position:relative; width:100%;overflow:hidden;}
#skip_nav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; text-align:center; text-decoration:none; color:#333;font-size:12px;}
#skip_nav a:hover,#skip_nav a:focus,#skip_nav a:active{
display:block;height:auto;padding:5px 0; background:#f2f2f2;}


/*-----------------------layout-----------------------*/

#wrap {
	width: 100%;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* height:10vh; */
	height: 80px;
	z-index: 100;
}
#container {
	width: 100%;
	z-index: 80;
}
#footer {
	width: 1920px;
	height: 220px;
	margin: 0 auto;
	background-color: #081354;
	z-index: 40;
	display: block;
	clear:both;
	content: '';
}

/*-----------------------#main_visual-----------------------*/
#main_visual {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
}
#main_visual .mainimg {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(../images/sub5_mainVisual.png);
}
.mainimg_txt {
	display: block;
	height: 400px;
	line-height: 400px;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
}


/*-----------------------#container-----------------------*/

#section {
	width: 1920px;
	margin: 0 auto;
}
#section>#section_inner {
	width: 100%;
}
#section_inner>.path {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
	border: 3px solid rgb(150, 150, 150);
}
#section_inner>.path>ul {}
#section_inner>.path>ul>li {
	float: left;
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
}
#section_inner>.path>ul>li>a {
	display: block;
	width: 150px;
	height: 50px;
}

/* .company */

.company {
    width: 100%;
}
.company>.company_inner {
    position: relative;
    width: 1280px;
    margin: 100px auto;
}
.company>.company_inner>.company_img {
    text-indent: -9999px;
    width: 1281px;
    height: 576px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/company_img.png);
}

.company>.company_inner>.com_bg {
    position: absolute;
    top: 119px;
    width: 1280px;
    height: 340px;
    background-color: rgb(255, 255, 255, 0.2);
}

.company>.company_inner .com_txt00 {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    padding: 74px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
}

.company_inner>.main_txt>.com_txt01 {
	font-size: 2.5rem;
	padding: 30px 0;
	color: rgb(97, 97, 97);
}

/* .icon_box */

.icon_box{
	width: 1280px;
	margin: 0 auto;
}
.icon_box>.icon_box_inner{}
.icon_box>.icon_box_inner>ul{
	overflow: hidden;
	width: 640px;
	height: 200px;
	margin: 0 auto;
}
.icon_box>.icon_box_inner>ul>li {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 20px;
	padding-top: 20px;
	border-radius: 150px;
	border: 4px solid #dec8b3;
	background-color: #fff;
}
.icon_box>.icon_box_inner>ul>li>div {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	width: 122px;
	height: 118px;
	line-height: 118px;
	margin: 0 auto;
}
.icon_box>.icon_box_inner>ul>li>.com_icon00 {
	background-image: url(../images/sub5_icon01.png);
}
.icon_box>.icon_box_inner>ul>li>.com_icon01 {
	background-image: url(../images/sub5_icon02.png);
}
.icon_box>.icon_box_inner>ul>li>.com_icon02 {
	background-image: url(../images/sub5_icon03.png);
}
.icon_box>.icon_box_inner>ul>li:nth-child(2) {
	background-color: #dec8b3;
	border: 4px solid #cccbcb;
}
.icon_box>.icon_box_inner>ul>li:last-child {
	margin-right: 0;
}
.icon_box>.icon_box_inner>ul>li .icon_txt{
	display: block;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #a7a7a7;
}
.icon_box>.icon_box_inner .com_txt01 {
	color: rgb(97, 97, 97);
}

/* .logo_type */
.logo_type {
	width: 100%;
}
.logo_type>.logo_type_inner {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.logo_infor_txt {
	padding: 20px 0;
	text-align: left;
	font-size: 2rem;
	color: #a7a7a7;;
}
.logo_type>.logo_type_inner>.logo_box {
	padding: 20px 0;
}
.logo_type>.logo_type_inner>.logo_box>div {
	display: inline-block;
	text-indent: -9999px;
	width: 451px;
	height: 120px;
	background-repeat: no-repeat;
}
.logo_type>.logo_type_inner .himologo {
	background-image: url(../images/himo_logoType.png);
}
.logo_type>.logo_type_inner .ladylogo {
	background-image: url(../images/himolady_logoType.png);
}
/* .color */
.color {
	overflow: hidden;
	width: 100%;
}
.color>.color_inner {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}
.logo_type_inner {
	width: 960px;
	margin: 0 auto;
}
.color>.color_inner div.color_box {
	float: left;
}
.color>.color_inner .color_box>.color_bg {
	display: inline-block;
	text-indent: -9999px;
	width: 90px;
	height: 90px;
}
.color>.color_inner .color_box>.blue_box {
	background-color: rgb(15,33,139);
}
.color>.color_inner .color_box>.Pink_box {
	background-color: rgb(239, 89, 161);
}
.color>.color_inner .color_box>.color_txt {
	float: right;
}
.color>.color_inner .color_box>.color_txt>span {
	display: block;
	width: 350px;
	height: 150px;
	margin-left: 40px;
	line-height: 1.5;
	text-align: left;
}

/* .himo_infor */

.himo_infor {
	width: 100%;
}
.himo_infor>.infor_inner {
	width: 1280px;
	margin: 0 auto;
}
.himo_infor>.infor_inner>.txt_wrap {
	width: 100%;
	margin: 0 auto;
}
.himo_infor>.infor_inner>.txt_wrap>span {
	display: block;
	text-align: center;
	font-size: 2rem;
	padding: 20px 0;
}

.point_txt {
	font-weight: bold;
	font-size: 4rem;
}

.logo_infor_txt01 {
	display: block;
	width: 776px;
	height: 400px;
	margin: 40px auto;
	line-height: 2.5;
	text-align: center;
}