@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
	text-decoration: none;
}
#wrap a:active{
	text-decoration: #000;
}
.hidden {
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}
* {
	color: #000;
	box-sizing: border-box;
}

/* -----------------------skipNav----------------------- */
#skip_nav{position:relative; width:100%;overflow:hidden;}
#skip_nav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; text-align:center; text-decoration:none; color:#333;font-size:12px;}
#skip_nav a:hover,#skip_nav a:focus,#skip_nav a:active{
display:block;height:auto;padding:5px 0; background:#f2f2f2;}


/*-----------------------layout-----------------------*/

#wrap {
	width: 100%;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* height:10vh; */
	height: 80px;
	z-index: 100;
}
#container {
	width: 100%;
	z-index: 80;
}
#footer {
	width: 1920px;
	height: 220px;
	margin: 0 auto;
	background-color: #081354;
	z-index: 40;
	display: block;
	clear:both;
	content: '';
}

/*-----------------------#main_visual-----------------------*/
#main_visual {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
}
#main_visual .mainimg {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(../images/sub2_mainVisual.png);
}
.mainimg_txt {
	display: block;
	height: 400px;
	line-height: 400px;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
}


/*-----------------------#container-----------------------*/

#section {
	width: 1920px;
	margin: 0 auto;
}
#section>#section_inner {
	width: 100%;
}
#section_inner>.path {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
	border: 3px solid rgb(150, 150, 150);
}
#section_inner>.path>ul {}
#section_inner>.path>ul>li {
	float: left;
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
}
#section_inner>.path>ul>li>a {
	display: block;
	width: 150px;
	height: 50px;
}

/* .lnb */

.lnb {
    width: 1200px;
    margin: 0 auto;
}
.lnb>ul {
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
}
.lnb>ul>li {
    float: left;
    width: 33%;
}

.lnb>ul>li>a {
    display: block;
    text-align: center;
    padding: 15px 0;
}

.lnb>ul>li>a.current {
    border-bottom: 4px solid #081354;
}
.lnb>div {
    display: none;
}

/*lnb_con1*/
.lnb_con1 {
    width: 1200px;
    height: 600px;
}
.wig {
    width: 1200px;
    margin: 100px auto;
}
.wig>li {
    float: left;
    width: 350px;
    height: 275px;
    margin-left: 35px;
}
.wig>li>a {
    display: block;
    width: 350px;
    height: 275px;
}
.wig>li>a:hover {}

.wig>li>a>.full_wig_img {
    display: block;
    width: 100%;
}
.wig>li>a>.wig_txt {
    display: inline-block;
    width: 350px;
    height: 64px;
    line-height: 1.5;
}

/*lnb_con1*/
.lnb_con2 {
    width: 1200px;
    height: 2000px;
}

