@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
	text-decoration: none;
}
#wrap a:active{
	text-decoration: #000;
}
.hidden {
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}
* {
	color: #000;
	box-sizing: border-box;
}

/* -----------------------skipNav----------------------- */
#skip_nav{position:relative; width:100%;overflow:hidden;}
#skip_nav a{display:block; height:1px; margin-bottom:-1px;overflow:hidden; text-align:center; text-decoration:none; color:#333;font-size:12px;}
#skip_nav a:hover,#skip_nav a:focus,#skip_nav a:active{
display:block;height:auto;padding:5px 0; background:#f2f2f2;}


/*-----------------------layout-----------------------*/

#wrap {
	width: 100%;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* height:10vh; */
	height: 80px;
	z-index: 100;
}
#container {
	width: 100%;
	z-index: 80;
}
#footer {
	width: 1920px;
	height: 220px;
	margin: 0 auto;
	background-color: #081354;
	z-index: 40;
	display: block;
	clear:both;
	content: '';
}
/*-----------------------#main_visual-----------------------*/
#main_visual {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
}
#main_visual .sub1_mainimg {
	width: 1920px;
	height: 400px;
	margin: 0 auto;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(../images/sub_main_visual.png);
}
.sub1_mainimg_txt {
	display: block;
	height: 400px;
	line-height: 400px;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

/*-----------------------#container-----------------------*/

#section {
	width: 1920px;
	margin: 0 auto;
}
#section>#section_inner {
	width: 100%;
}
#section_inner>.path {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 15px;
	border: 3px solid rgb(150, 150, 150);
}
#section_inner>.path>ul {}
#section_inner>.path>ul>li {
	float: left;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
#section_inner>.path>ul>li>a {
	display: block;
	width: 150px;
	height: 40px;
}
/*-----------------------.sub1_section_title-----------------------*/
#step_section_title {
	margin: 0 auto;
}
#step_section_title>.step_box_wrap {
	width: 1280px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
}
#step_section_title>.step_box_wrap>.step_box {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 350px;
	margin-right: 20px;
	/* background-color: rgb(201, 139, 139, 0.5); */
}

.step_box>.step_txt_top {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 3px solid rgb(15, 33, 139);
	padding: 30px 0;
	
}
.step_txt_bottom {
	position: relative;
	top: 40px;
	display: inline-block;
	width: 300px;
	height: 200px;
	margin: 0 auto;
	line-height: 2;
	font-size: 1rem;
}

/* #scanner */

#scanner {
	width: 1920px;
	margin: 0 auto;
}
#scanner_wrap {
	position: relative;
	height: 316px;
	width: 1920px;
}
#scanner_wrap>.scanner_top {
	position: absolute;
	top: 48px;
	left: 655px;
	width: 600px;
	padding: 20px auto;
	background-color: rgb(255, 255, 255, 0.2);
}
#scanner_wrap>.scanner_top>span {
	display: inline-block;
	width: 600px;
	text-align: center;
	color: #fff;
}
#scanner_wrap>.scanner_top>.scanner_txt_top {
	display: block;
	margin: 20px auto;
	font-weight: bold;
	font-size: 2rem;
}
#scanner_wrap>.scanner_top>.scanner_txt_bottom {
	font-size: 1rem;
	line-height: 2;
}
.scanner_img {
	display: block;
	width: 1909px;
	height: 316px;
	text-indent: -9999px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../images/scanner_main.png);
}


.scanner_slide_box {
	width: 1440px;
	height: 650px;
	margin: 0 auto;
}
.slide_gallery {
	overflow: hidden;
	width: 1440px;
	height: 650px;
	margin: 0 auto;
}
.gallery {
	position: relative;
	left: 0;
	width: 5760px;
}
.gallery>ul {
	overflow: hidden;
	float: left;
}
.gallery>ul>li {
	float: left;
}
.gallery>ul>li>span {
	display: block;
	width: 1440px;
	height: 650px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.gallery>ul>li>span.scanner_black {
	background-image: url(../images/slide_scanner_black.png);
}
.gallery>ul>li>span.scanner_white {
	background-image: url(../images/slide_scanner_white.png);
}

.scanner_bottom {
	width: 1280px;
	margin: 20px auto;
}
.scanner_bottom_wrap {
	position: relative;
	width: 1280px;
}
.scanner_bottom_wrap>.scanner_box {}
.scanner_bottom_wrap>.scanner_box> li{
	display: block;
	width: 1280px;
	height: 384px;
}

.lft_txt {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 600px;
	height: 384px;
	text-align: center;
}
.rht_txt {
	position: absolute;
	left: 0;
	display: inline;
	width: 600px;
	height: 384px;
	text-align: center;
	/* background-color: rgb(27, 158, 86); */
}
.scanner_box> li>span{
	display: block;
	width: 600px;
	height: 384px;
	line-height: 384px;
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 2.5rem;
	font-weight: bold;
	color: rgb(46, 45, 45);
}
.tile_top {
	float: left;
	background-image: url(../images/tail_top.png);
}
.tile_mid {
	float: right;
	background-image: url(../images/tail_middle.png);
}
.tile_bottom {
	float: left;
	background-image: url(../images/tail_bottom.png);
}

/* #process */
#process {
	width: 1280px;
	height: 300px;
	margin: 0 auto;
}
.process_wrap {
	width: 660px;
	height: 300px;
	margin: 0 auto;
}
.process_wrap>li {
	float: left;
	margin-right: 20px;
}

.process_wrap>li:last-child {
	margin-right: 0;
}

.icon_bg {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	text-align: center;
	background-color: rgb(214, 214, 214);
}
.icon_bg:last-child {
	margin-right: 0;
}
.icon {
	display: inline-block;
	width: 83px;
	height: 91px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.tile00 {
	background-image: url(../images/ico01.png);
}
.tile00:hover {
	background-image: url(../images/ico01_blue.png);
}
.tile01 {
	background-image: url(../images/ico02.png);
}
.tile01:hover {
	background-image: url(../images/ico02_blue.png);
}
.tile02 {
	background-image: url(../images/ico03.png);
}
.tile02:hover {
	background-image: url(../images/ico03_blue.png);
}

.tile_name {}
.tile_name>span {
	display: block;
	text-align: center;
	padding: 20px 0;
}